<header>
    <h1>Cooking with Zach</h1>
</header>
<!--I'm using inline styles because I'm evil-->
<div style="margin: 0; display:flex; flex-direction: row; background-color: darkslategray; justify-content: space-around; padding:7px;">
    <a href="/">Home</a>
    <a href="/recipes">Recipes</a>
</div>