<!DOCTYPE html>
<html>
  <head>
    <title>Cooking with Zach</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    <h2 style="text-align:center;">Add a Recipe</h2>
    <form action="/recipes/addfood" method="POST">
        <label for="name">Recipe Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <p>Ingredients:</p>
        <table>
            <!--Make a table of the existing database ingredients here-->
        </table>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>