<!DOCTYPE html>
<html>
  <head>
    <title>Cooking with Zach</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!--this is terrible-->
    <%function capitalizeFirstLetter(str){%>
      <%if (str.length == 0) return str;%>
      <%if (str.length == 1) return str.charAt(0).toUpperCase();%>
      <%return str.charAt(0).toUpperCase() + str.slice(1);%>
      <%}%>

    <%- include('./partials/header') %>


    <!--make tables for each protein, we can probably fill these using loops (check out the books example)-->
    <% Object.keys(recipesByProtein).forEach((protein) => { %>
      <h2>
        <%=capitalizeFirstLetter(protein)%>
      </h2>
      <div id="tableHolder">
      <table> <tr>
      <% recipesByProtein[protein].forEach((recipe, index) => { %>
        <% if (index % 3 == 0 && index != 0){ %>
        </tr><tr>
        <%}%>
        <td>
          <br>
          <p>
            <b><%=recipe.name%></b><br><br>
            <%=recipe.description%>
          </p>
          <br>
        </td>
      <%})%>
      </tr>
      </table>
    </div>
    <%})%>

  </body>
</html>