<!DOCTYPE html>
<html>
  <head>
    <title>Cooking with Zach</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %>
    <!--make tables for each protein, we can probably fill these using loops (check out the books example)-->
    <h2>Beef Dishes</h2>
    <table id="beefs">
      
    </table>
    <h2>Chicken Dishes</h2>
    <table id="chickens">

    </table>
    <h2>Fish Dishes</h2>
    <table id="fishes">

    </table>
  </body>
</html>