html {
  margin: 0;
  /*padding: 0;*/

}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  /*padding:0;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a {
  color: whitesmoke;
}

h1 {
  margin: 0;
  padding: 20px;
  font-size: 30px;
}

header {
  text-align: center;
  margin: 0;
  background-image: linear-gradient(#9bf8f4, #6f7bf7);
}

#indexmain {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

#indexmain > * {
  margin:20px;
  padding: 17px;
  border-color:rgb(181, 180, 180);
  border-style:solid;
  border-radius: 5px;
}

h2 {
  text-align:center;
}

table {
  text-align: center;
  margin: 0;
  align-items: center;
  /*border: 1px solid black;*/
}

td {
  border: 1px solid black;
  padding: 4px;
}

form {
  text-align: center;
  align-items:center;
}

#tableHolder {
  display: flex;
  flex-direction:row;
  justify-content: center;
}